:root {
  --cards: 4;
  --cardHeight: 70vh;
  --cardTopPadding: 20px;
  --cardMargin: 0;
  --xPadding: 10px;
}

#card-list {
  padding-top: 150px;
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--cards), var(--cardHeight));
  gap: var(--cardMargin);
  padding-bottom: calc(var(--cards) * var(--cardTopPadding));
  margin-bottom: var(--cardMargin);
}

#cards {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--cards), var(--cardHeight));
  gap: var(--cardMargin);
  padding-bottom: calc(var(--cards) * var(--cardTopPadding));
  margin-bottom: var(--cardMargin);
}

#card1 {
  --index: 1;
  --size: 3;
}
#card2 {
  --index: 2;
  --size: 2;
}
#card3 {
  --index: 3;
  --size: 1;
}
#card4 {
  --index: 4;
  --size: 0;
}

.card {
  position: sticky;
  top: 16%;
  padding-top: calc(var(--index) * var(--cardTopPadding));
  padding-right: calc(var(--size) * 45px);
  padding-left: calc(var(--size) * 45px);
}

@media screen and (max-width: 1024px) {
  .card {
    padding-right: calc(var(--size) * 10px);
    padding-left: calc(var(--size) * 10px);
  }
}

.card-tags {
  position: sticky;
  top: 10%;
}

.card-body {
  box-sizing: border-box;
  border-radius: 20px;
  height: var(--cardHeight);
  transition: all 0.5s;
}

h2 {
  font-size: 2.5em;
}
